In [1]:
print("Hello World")

Hello World

In [3]:
print('hello')
print()
print('This is also a string')

hello

This is also a string

In [4]:
s='New York'
print(s)
print(type(s))
print(len(s))

New York
<class 'str'>
8

In [5]:
s='Hello World'
print(s)
print()
print(s[0])
print()
print(s[1])

Hello World

H

e

In [6]:
s1='Hello'
s2="World"
print(s1+" "+s2)

Hello World

In [7]:
print("Hello_"*3)
print("-"*10)

Hello_Hello_Hello_
----------

In [8]:
s="Namaste World"
print(s[1])
print(s[6:11])
print(s[-5:-1])
print("Wor" in s)

a
e Wor
Worl
True

In [9]:
s="Hello World"
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [13]:
name='Einstein'
age=22
married=True

print("My name is %s, my age is %s, and it is %s that i am married"%(name,age,married))
print("My name is {}, my age is {}, and it is {} that i am married".format(name,age,married))

My name is Einstein, my age is 22, and it is True that i am married
My name is Einstein, my age is 22, and it is True that i am married

In [15]:
print(2+1)
print(2-1)
print(2*2)
print(3/2)

3
1
4
1.5

In [16]:
2**3

8

In [17]:
2+10*10+3

105

In [18]:
(2+10)*(10+3)

156

In [19]:
a=5
a+a

10

In [20]:
a=10
a

10