IDENTIFYING DATA TYPE

In [24]:
a=42
b=32.30

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

LIST

In [25]:
my_list=['one','two','three',4,5]

In [26]:
len(my_list)

5

In [27]:
l=[1,2.3,['a','b'],'New York',3.1]
l=[1,2,3]
l.extend([4,5,6])
print(l)

[1, 2, 3, 4, 5, 6]

SLICING

In [28]:
lst=list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print("Element from index 4 to 7 : ",lst[4:7])
print("Alternate elements, starting at index 0 : ",lst[0::2])
print("Every third element, starting at index 1 : ",lst[1::3])

Element from index 4 to 7 :  [4, 5, 6]
Alternate elements, starting at index 0 :  [0, 2, 4, 6, 8]
Every third element, starting at index 1 :  [1, 4, 7]

DICTIONARY

In [30]:
my_dict={'key1':'value1','key2':'value2'}
my_dict['key2']

'value2'

In [31]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [32]:
my_dict['key1']=my_dict['key1'] - 123
my_dict['key1']

0

In [33]:
my_dict['key1']-=123
my_dict['key1']

-123

In [34]:
d={}
d['animal']='dog'

SETS AND BOOLEANS

In [35]:
x=set()
x.add(1)
x

{1}

In [36]:
x.add(2)
x

{1, 2}

In [37]:
x.add(1)
x

{1, 2}

In [38]:
l=(1,1,2,2,3,4,5,6,1,1)
set(l)

{1, 2, 3, 4, 5, 6}